.notes-box {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #CCFFFF;
  border-left: 8px solid gray;
  font-family: Comic Sans MS;
  outline: none;
  margin-top: 5px;
}

div.bg-color {
  background-color: #34495E;
}

.notes-box:focus {
  border: 6px solid gray;
  outline: none;
}

/* #add {
  height: 15%;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  color: white;
  border: 1px solid lightgray;
  border-radius: 10%;
  float: right;
  outline: none;
  background-color: #283747;
  position: absolute;
  cursor: pointer;
  letter-spacing: .15em;
}

#add:hover {
  color: rgba(255, 255, 255, 0.85);
}
 */
textarea {
  padding: 10px;
  outline: none;
  background-color: #CCFFFF;
  border-radius: 10%;
  height: 100%;
  max-width: 100%;
  border: 6px solid lightgray;
  border-left: 8px solid gray;
  font-family: Comic Sans MS;
  margin-bottom: 10px;
  display: block;
}

.glyphicon {
  font-size: 30px;
  margin: 12.25px -10px;
}

.btn-floating {
  margin: 20px 0px 20px 5px;
  float: right;
  opacity: 0.5;
}

.btn-floating:hover {
  opacity: 1.0;
  transform: scale(1.05);
}

hr {
  width: 300px;
}

.caption {
  color: #AEB6BF;
  font-size: 150%;
  letter-spacing: 0.1;
  font-family: 'Ubuntu', sans-serif;
}

/* css-tricks.com */

.main-title{
  font-family: 'Lemonada', cursive;
  color: #AEB6BF;
  overflow: hidden;
  whitespace: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {width: 0}
  to {width: 100%}
}

@keyframes blink-caret {
  from, to {border-color: transparent}
}
/* css-tricks.com */

footer {
  position: fixed;
  background-color: rgba(174,182,191, 0.2);
  width: 100%;
  bottom: 0;
}

footer p {
  width: 50%;
  margin: 40px auto;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.15em;
  text-align: center;
}