.notes-box {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #CCFFFF;
  border-left: 8px solid gray;
  font-family: Comic Sans MS;
  outline: none;
  margin-top: 5px;
}

.bg-color {
  background-color: #283747;
}

.notes-box:focus {
  border: 6px solid gray;
  outline: none;
}

/* #add {
  height: 15%;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  color: white;
  border: 1px solid lightgray;
  border-radius: 10%;
  float: right;
  outline: none;
  background-color: #283747;
  position: absolute;
  cursor: pointer;
  letter-spacing: .15em;
}

#add:hover {
  color: rgba(255, 255, 255, 0.85);
}
 */
textarea {
  padding: 10px;
  outline: none;
  background-color: #CCFFFF;
  border-radius: 10%;
  height: 100%;
  max-width: 100%;
  border: 6px solid lightgray;
  border-left: 8px solid gray;
  font-family: Comic Sans MS;
  margin-bottom: 10px;
  display: block;
}

.btn-floating {
  margin-top: 5px;
  float: right;
  opacity: 0.5;
}

.btn-floating:hover {
  opacity: 1.0;
  transform: scale(1.05);
}

/* css-tricks.com */

.main-title{
  color: #34495E;
  overflow: hidden;
  border-right: .15em solid black;
  whitespace: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {width: 0}
  to {width: 100%}
}

@keyframes blink-caret {
  from, to {border-color: transparent}
  50% {border-color: black;}
}